* {
  font-family: 'Roboto', arial;
}

#banner {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -1px;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid lightgrey;
}

#banner_message {
  font-family: arial;
  font-size: 64px;
  margin-top: 0;
  position: absolute;
}

#banner_item {
  font-family: arial;
  font-size: 64px;
  position: absolute;
  transition: all 0.8s ease;
  margin-top: 0px;
  margin-left: 300px;
}

#menu_button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 50px;
  height: 55px;
  transition: all 0.7s ease;
}

#menu_button:hover {
  cursor: pointer;
}

#menu {
  z-index: 1;
  position: fixed;
  border: 2px solid #e6e6e6;
  right: -36%;
  align: right;
  height: 100%;
  width: 35%;
  transition: all 0.7s ease;
  background-color: #e6e6e6;
}

#store {
  margin-top: 60px;
}

.menu_items {
  margin-left: -8px;
  height: 40px;
  text-align: center;
  margin-top:;
  font-size: 30px;
  cursor: pointer;
}

.menu_items:hover {
  background-color: white;
}

#about {
  margin-top: 100px;
  color: #bfbfbf;
  text-align: center;
}

#main_body {
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
    background: -webkit-linear-gradient(#ffffff, #a6a6a6);
    background: -o-linear-gradient(#ffffff, #a6a6a6);
    background: -moz-linear-gradient(#ffffff, #a6a6a6);
    background: linear-gradient(#ffffff, #a6a6a6);
  position: fixed;
  top: 82px;
  left: 0;
  width: 100%;
  height: 100%;
}
